/* our logo colors */
:root {
  --blue: #1f47f2;
  --red: #e93f33;
}

body {
  background-color: #eeeeee;
}

.logo-sm {
  width: 50px;
  height: 50px;
}

.nav-btn {
  /* display: flex;
  justify-content: space-between;
  background-color: #1f47f2;
  cursor: pointer; */
  background-color: #1f47f2;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}